{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Login{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    </head>
<body>
    <main>
        <div class="container">
            <h1>Log In</h1><br>
            <form method="post">
                {% csrf_token %}
                <label for="">Username</label>
                <input type="email" placeholder="Enter Email">
                <label for="">Password</label>
                <input type="password" placeholder="Enter Password">
                <a href="{% url 'signup' %}" class="login">Create account</a>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>